# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
venv314/
env/

# IDEs
.idea/
.vscode/

# Project configuration and local environments
.env
tests/
wrangler.toml
worker.py
